<!--
ENV vars:
- tab: CardTab (for `tab.object` definition, see `RUMSchema.events_data()`)
-->

<small>You can reference all events in JS console with <code>dd_events</code>.</small><br><br>

{% for object in tab.object['events'] %}
    <!-- Schema validation result -->
    {% if object['rum_validation'].all_ok %}
    <div class="alert alert-success" role="alert">
        <small>This record <b>is valid</b> - matches <code>{{ object['rum_validation'].schema_name }}</code> schema.</small>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <small>
            This record <b>is not valid</b> - does not match <code>{{ object['rum_validation'].schema_name }} schema.</code>
            <br><br>
            <b>Error details:</b> {{ object['rum_validation'].error }}
        </small>
    </div>
    {% endif %}

    <!-- Pills -->
    <div>
    {% for pill in object['pills'] %}
    <span class="badge rounded-pill text-bg-{% if loop.first %}secondary{% else %}light{% endif %}">{{ pill }}</span>
    {% endfor %}
    </div>
    <br>

    <!-- JSON -->
    <small><pre>{{ object['pretty_json'] }}</pre></small>
    <hr>
{% endfor %}

<!-- Export to JS: -->
<script>var dd_events = {{ tab.object['dd_events']|safe }}</script>