// Minimum iOS deployment targets for building integration tests:
IPHONEOS_DEPLOYMENT_TARGET=12.0
TVOS_DEPLOYMENT_TARGET=11.0

// Add common settings from Datadog.xcconfig
#include "../xcconfigs/Datadog.xcconfig"

// Add DatadogSDKTesting instrumentation (if available in current environment)
#include? "../xcconfigs/DatadogSDKTesting.local.xcconfig"
