.DS_Store
/build
.build
.swiftpm
.spm.pods
Package.resolved
Carthage/Build
Carthage/Checkouts

xcuserdata/
*.local.xcconfig
E2ETests/code-signing
tools/dogfooding/repos

# Ignore files for Python tools:
.idea
venv
*.pyc
__pycache__
*.swp
.venv
.vscode
*.pytest_cache

# CI job artifacts
artifacts/

# AI files
.claude/settings.local.json
