.DS_Store
/build
/.build
/.swiftpm
xcuserdata/

*.local.xcconfig

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlaneOutput
fastlaneDerivedDataOutput
