.DS_Store
/build
/.build
/.swiftpm
Carthage/Build
Carthage/Checkouts

xcuserdata/
instrumented-tests/DatadogSDKTesting.framework
instrumented-tests/DatadogSDKTesting.framework-iphonesimulator.zip

*.local.xcconfig
