// Base configuration file for all targets.
// Note: all configuration here will be applied to `Datadog*.framework` produced by Carthage.

DD_SWIFT_SDK_PRODUCT_NAME=DatadogCore
DD_OBJC_SDK_PRODUCT_NAME=DatadogObjc
DD_CR_SDK_PRODUCT_NAME=DatadogCrashReporting

ARCHS[sdk=iphoneos*]=$(ARCHS_STANDARD) arm64e

// Minimum deployment targets for building the SDK (including Carthage build from sources)
IPHONEOS_DEPLOYMENT_TARGET=12.0
TVOS_DEPLOYMENT_TARGET=12.0
MACOSX_DEPLOYMENT_TARGET=12.6

// Minimum supported Swift version
SWIFT_VERSION=5.9

// Include internal base config (git-ignored, so excluded from Carthage build)
#include? "Base.local.xcconfig"
