// Base configuration for DatadogCrashReporting target.
// Note: all configuration here will be applied to `DatadogCrashReporting.framework` produced by Carthage.

// Include base config
#include "../xcconfigs/Base.xcconfig"

// RUM-12594 workaround:
// SPM dependencies don't automatically build for arm64e, so we need to exclude it
// to avoid linker errors when using KSCrash from SPM
ARCHS[sdk=iphoneos*]=$(ARCHS_STANDARD)
