<!doctype html>
<html>
  <head>
    <title>Mock Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!--    <script>-->
<!--      (function(h,o,u,n,d) {-->
<!--         h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}-->
<!--         d=o.createElement(u);d.async=1;d.src=n-->
<!--         n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)-->
<!--      })(window,document,'script','https://www.datadoghq-browser-agent.com/datadog-rum-v4.js','DD_RUM')-->
<!--      DD_RUM.onReady(function() {-->
<!--        DD_RUM.init({-->
<!--          clientToken: '<CLIENT_TOKEN>',-->
<!--          applicationId: '00000000-1111-2222-3333-444444444444',-->
<!--          site: '<DATADOG_SITE>',-->
<!--          service: 'mock-server',-->
<!--          env: 'production',-->
<!--          version: '1.0.0',-->
<!--          sampleRate: 100,-->
<!--          sessionReplaySampleRate: 100, // if not included, the default is 100-->
<!--          trackResources: true,-->
<!--          trackLongTasks: true,-->
<!--          trackInteractions: true,-->
<!--          proxyUrl: 'http://127.0.0.1:5000/api/v2/rum/browser'-->
<!--        })-->
<!--      })-->
<!--    </script>-->
  </head>
  <body>
    <nav class="p-3 text-center text-white" style="background-color: #632CA6">
        <h4>HTTP Mock Server</h4>
    </nav>
    <div class="container">
      <hr>
      {% block navigation %}{% endblock %}
      <hr>
      {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>