.DS_Store
.build
xcuserdata

# SPM test
# - ignore `SPMProject.xcodeproj` as it will be re-created for every test run
/spm/SPMProject.xcodeproj
/spm/**/Package.resolved


# XCFramework test
/xcframeworks/dd-sdk-ios
