.DS_Store
.build
xcuserdata

# Carthage test
# - ignore `Cartfile.resolved` and `Cartfile` as they will be re-created for every test run
/carthage/Carthage
/carthage/Cartfile.resolved
/carthage/Cartfile

# SPM test
# - ignore `SPMProject.xcodeproj` as it will be re-created for every test run
/spm/SPMProject.xcodeproj
/spm/**/Package.resolved

# Cocoapods test
# - ignore `Podfile.lock` and `Podfile` as they will be re-created for every test run
/cocoapods/**/Pods
/cocoapods/**/Podfile.lock
/cocoapods/**/Podfile

# XCFramework test
/xcframeworks/dd-sdk-ios
