// Add common settings from Datadog.xcconfig
#include "../xcconfigs/Datadog.xcconfig"

// Both 'DatadogSDKTesting' and 'DatadogCrashReporting' link PLCR dependency statically, resulting with these runtime warnings:
//
//       """
//       objc[50310]: Class PLCrashReportThreadInfo is implemented in both
//       /Users/.../DatadogCrashReporting.framework/DatadogCrashReporting (0x10b727208)
//       and
//       /Users/.../DatadogSDKTesting.framework/DatadogSDKTesting (0x10b5ee928).
//       One of the two will be used. Which one is undefined.
//       """
//
//       Because some mocks in 'DatadogCrashReportingTests' use PLCR type's subclassing, their runtime cast with 'as? <PLCR_TYPE>' could fail depending in which library is found first
// We force 'DatadogCrashReporting' to be linked before linking 'DatadogSDKTesting' so PLCR symbols are found in that library.
OTHER_LDFLAGS= $(inherited) -framework DatadogCrashReporting

// Add DatadogSDKTesting instrumentation (if available in current environment)
 #include? "../xcconfigs/DatadogSDKTesting.local.xcconfig"


