name: Publish Changelog and Feature Docs to Confluence
on:
    push:
        branches:
            - develop
        paths:
            - 'CHANGELOG.md'
            - '/DatadogRUM/RUM_FEATURE.md'
            - '/DatadogSessionReplay/SESSION_REPLAY_FEATURE.md'
permissions:
    contents: read
jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

            - name: Prepare Changelog and Feature Docs
              run: |
                  mkdir -p publish_folder
                  cp CHANGELOG.md publish_folder/dd-ios-sdk-changelog.md
                  cp DatadogRUM/RUM_FEATURE.md publish_folder/dd-sdk-ios-RUM_FEATURE.md
                  cp DatadogSessionReplay/SESSION_REPLAY_FEATURE.md publish_folder/dd-sdk-ios-SESSION_REPLAY_FEATURE.md
                  echo "Publishing CHANGELOG.md"
                  echo "Publishing RUM_FEATURE.md"
                  echo "Publishing SESSION_REPLAY_FEATURE.md"

            - name: Publish Markdown to Confluence
              uses: markdown-confluence/publish-action@7767a0a7f438bb1497ee7ffd7d3d685b81dfe700 # v5
              with:
                  confluenceBaseUrl: ${{ secrets.DATADOG_CONFLUENCE_BASE_URL }}
                  confluenceParentId: ${{ secrets.CONFLUENCE_PARENT_ID }}
                  atlassianUserName: ${{ secrets.CONFLUENCE_ROBOT_RUM_EMAIL }}
                  atlassianApiToken: ${{ secrets.CONFLUENCE_ROBOT_RUM_API_KEY }}
                  contentRoot: '.'
                  folderToPublish: 'publish_folder'
